@page "/new-bug"
@using SyrphidaeTracker.Services
@inject ISyrphidaeTracker BugService

<h3>Add New Bug</h3>

<EditForm OnValidSubmit="HandleValidSubmit" Model="AddBug">
    <InputText @bind-Value="@AddBug.Title" placeholder="Enter Title" />
    <InputText @bind-Value="@AddBug.Description" placeholder="Enter Description" />
    <InputNumber @bind-Value="@AddBug.Priority" placeholder="Enter Priority" />
    <button type="submit">Add Bug</button>
</EditForm>

@code {


    public Bug AddBug { get; set; } = new Bug();

    protected void HandleValidSubmit()
    {
        BugService.AddBug(AddBug);
    }
}